:host {
  width: calc(100vw - 250px);
  background-color: lightblue;
  padding: 0 10px;
  min-height: 500px;
}

ul {
  margin: 0;
  padding: 0;
  width: 200px;
}

li {
  list-style-type: none;
  margin-bottom: 7px;
  background-color: cornflowerblue;
  padding: 10px 10px;
}
